@media (max-width: 555px) {
    
    .container{
        width: 380px;
        height: 350px;
    }

    .advice{
        font-size: 26px;
        font-weight: 600;
    }

    .divider{
        width: 90%;
    }

  }

  @media (max-width: 390px) {
    
    .container{
        width: 340px;
    }

  }

  @media (max-width: 340px) {
    
    body{
        overflow: hidden;
    }

    .container{
        width: 300px;
    }

  }
